@import url('https://fonts.cdnfonts.com/css/futura-pt');

*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Futura PT', sans-serif;
  line-height: 20px;
  font-weight: 600;
  color-scheme: light;

  color: #424F5E;
  background-color: #EBEBF0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}